@font-face {
    font-family: 'bt_bold';
    src: url('/fonts/BalooTamma2-Bold.eot'); /* IE9 Compat Modes */
    src: url('/fonts/BalooTamma2-Bold.woff') format('woff'), /* Modern Browsers */
         url('/fonts/BalooTamma2-Bold.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: 'bt_reg';
    src: url('/fonts/BalooTamma2-Regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/BalooTamma2-Regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/BalooTamma2-Regular.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: 'bt_sem_bold';
    src: url('/fonts/BalooTamma2-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('/fonts/BalooTamma2-SemiBold.woff') format('woff'), /* Modern Browsers */
         url('/fonts/BalooTamma2-SemiBold.ttf') format('truetype') /* Safari, Android, iOS */
}

:root {
    --bg: #4B4376;
    --navbar: #432E54; 
    --text: #E8BCB9;
}

.semi_bolded {
    font-family: bt_sem_bold;
}

.bolded {
    font-family: bt_bold;
}

body {
    font-family: bt_reg;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
}

#coins_prices_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    font-size: 24px;
    margin: 10px 0;
}

.content {
    padding: 20px;
    text-align: center;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.navbar a:hover {
    background-color: #575757;
    transition-duration: 0.7s;
}
.navbar a:active {
    background-color: #767676;
    transition-duration: 0.3s;
}

.navbar .brand {
    font-weight: bold;
    font-size: 1.2em;
}
.spinning_btn {
    position: relative;
    overflow: hidden; /* Clip child elements */
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;

    /* Fallback background */
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
}

.spinning_btn span {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    top: 0;
    left: 0; /* Align spans */
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.spinning_btn span:nth-child(1) {
    box-shadow: -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.spinning_btn span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.spinning_btn:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.spinning_btn:hover span:nth-child(2) {
    box-shadow: none; /* Remove shadow */
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

table {
    background-color: #3b355e;
}

td, th {
    padding: 10px;
}

th {
    background-color: #332e50;
    border-top: none;
}

td:first-child, th:first-child {
    border-left: none;
}

td {
    padding: 20px;
}