@font-face {
    font-family: 'bt_bold';
    src: url('/fonts/BalooTamma2-Bold.eot'); /* IE9 Compat Modes */
    src: url('/fonts/BalooTamma2-Bold.woff') format('woff'), /* Modern Browsers */
         url('/fonts/BalooTamma2-Bold.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: 'bt_reg';
    src: url('/fonts/BalooTamma2-Regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/BalooTamma2-Regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/BalooTamma2-Regular.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: 'bt_sem_bold';
    src: url('/fonts/BalooTamma2-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('/fonts/BalooTamma2-SemiBold.woff') format('woff'), /* Modern Browsers */
         url('/fonts/BalooTamma2-SemiBold.ttf') format('truetype') /* Safari, Android, iOS */
}

.semi_bolded {
    font-family: bt_sem_bold;
}

.bolded {
    font-family: bt_bold;
}

body {
    font-family: bt_reg;
    text-align: center;
    padding: 20px;
    background-color: #525CEB;
    color: #F8EDFF;
}

.price {
    font-size: 24px;
    margin: 10px 0;
}